<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

    <h3>List of Books</h3>
<table class="centered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.name}"/>
        <td th:text="${book.author}"/>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/}" th:object="${newbook}" method="post">
    <p>author:<input type="text" th:field="*{author}"></p>
    <p>name:<input type="text" th:field="*{name}"></p>
    <p><input type="submit" value="create new book"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>